<div class="container box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="{{ data.thumbnail }}" alt="sas" />
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>Nome do Produto: </strong>{{ data.title }}</li>
          <li><strong>Categoria: </strong>{{ data.category }}</li>
          <li><strong>Descrição: </strong>{{ data.description }}</li>
          <li><strong>Preço: </strong>R${{ data.price }},00</li>
        </ul>
      </div>
      <div class="ml-5 mt-4 align-items-center">
        <button
          type="button"
          class="btn btn-outline-primary"
          routerLink="/products"
        >
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>
