<header>
  <div class="container navbar navbar-light">
    <div class="navbar-brand align-item-center d-flex">
      <i
        style="font-size: 40px; margin-left: 30px; color: rgb(69, 88, 255)"
        class="fas fa-store"
        routerLink="/products"
        >&nbsp;</i
      >
      <strong style="font-size: 30px" routerLink="/products"
        >Ploxys Store</strong
      >
    </div>

    <div>
      <button
        type="button"
        class="btn btn-outline-primary"
        routerLink="/addproduct"
      >
        Editar Produto
      </button>
      <button type="button" class="btn btn-outline-danger" routerLink="/login">
        Logout
      </button>
    </div>
  </div>
</header>
